<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Syntactic Sugar - Software Consulting</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="preload" href="<%= require('./fonts/default-normal.woff') %>" as="font">
  <script type="application/ld+json"><%= require('./json-ld.js').default %></script>
</head>

<body>
  <div class="logo">
    <span class="angle-bracket color--pink">&gt;</span>{<span class="color--pink">/</span>/<span class="color--pink">/</span>}<span class="angle-bracket color--pink">&lt;</span>
  </div>
  <main>
    <section>
      <h1>Syntactic Sugar AB</h1>
      <h2>Software Consulting</h2>
      <div class="spacer">/</div>
      <h3>Founder and Consultant<span class="visually-hidden">: </span><br>
      Alfonso Acosta</h3>
      <div class="spacer">/</div>
    </section>
    <section>
      <h4>Previous Experience:</h4>
      <ul class="no-list">
        <li><a href="https://spotify.com" rel="nofollow noopener" target="_blank" class="color--spotify">spotify.com</a></li>
        <li><a href="https://weave.works" rel="nofollow noopener" target="_blank" class="color--weaveworks">weave.works</a></li>
        <li><a href="https://teenageengineering.com" rel="nofollow noopener" target="_blank" class="color--teenageengineering">teenageengineering.com</a></li>
        <li><a href="http://certus.com.hk" rel="nofollow noopener" target="_blank" class="color--certus">certus.com.hk</a></li>
      </ul>
      <div class="spacer-group">
        <div class="spacer">-</div>
        <div class="spacer">.</div>
        <div class="spacer">-</div>
      </div>
    </section>
    <section>
      <div>don't be a stranger, write me a line:</div>
      <a class="color--pink" href="mailto:fons@syntacticsugar.consulting?subject=don\'t be a stranger">fons@syntacticsugar.consulting</a>
    </section>
  </main>
</body>

</html>
