<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Syntactic Sugar - Software Consulting</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="preload" href="<%= require('./fonts/default-normal.woff') %>" as="font">
  <script type="application/ld+json"><%= require('./json-ld.js').default %></script>
</head>

<body>
    <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292.6 109.8">
      <path fill="#f0f" d="M43.3 51.6l-37-22.2c-2.7-1.7-6.4-1-6.4 3.2V36c0 1.9 1 3.5 2.8 4.6l23.2 13.8L3.2 66.8C.4 68.1 0 70 0 71.6v3.5c0 2.8 1.8 4 3.5 4 .8 0 1.7-.3 2.7-.8L43 58.1c1.1-.6 1.9-1.7 2-3.2.1-1.3-.5-2.6-1.7-3.3z"/>
      <path fill="#fff" d="M86.3 5.1H71.7c-16.3 0-18.2 13.3-18.2 23.3V47c0 .4-.1.8-.8.8-2.5 0-4.4 1.9-4.4 4.4v4.4c0 2.5 1.8 4.4 4.4 4.4.7 0 .8.1.8.8v19.7c0 10 1.9 23.2 18.4 23.2h2c2.5 0 4.4-1.9 4.4-4.4V96c0-2.5-1.9-4.4-4.4-4.4h-2.2c-2.7 0-5.1 0-5.1-12.3V61.2c0-2.5-.9-4.8-2.2-6.6a9.6 9.6 0 0 0 2.2-6.3V30.5c0-12.4 2.4-12.4 5.1-12.4h14.6c2.5 0 4.4-1.9 4.4-4.4V9.5c0-2.5-1.9-4.4-4.4-4.4z"/>
      <path fill="#f0f" d="M134.3 4.1c-.5-1.1-1.4-2-2.5-2.3L127.9.3c-2.3-.7-4.6.3-5.5 2.5L83 102.4c-.5 1.1-.5 2.3-.1 3.3.4 1.1 1.3 2 2.5 2.5l3.6 1.4c.5.2 1 .2 1.5.2 1.8 0 3.3-1 4-2.8L134 7.6c.7-1.1.7-2.4.3-3.5z"/>
      <path fill="#fff" d="M171.6 4.1c-.5-1.1-1.4-2-2.5-2.3L165.2.3c-2.3-.7-4.6.3-5.5 2.5l-39.3 99.6c-.5 1.1-.5 2.3-.1 3.3.4 1.1 1.3 2 2.5 2.5l3.6 1.4c.5.2 1 .2 1.5.2 1.8 0 3.3-1 4-2.8l39.5-99.4c.6-1.1.7-2.4.2-3.5z"/>
      <path fill="#f0f" d="M209 4.1c-.5-1.1-1.4-2-2.5-2.3L202.6.3c-2.3-.7-4.6.3-5.5 2.5l-39.3 99.6c-.5 1.1-.5 2.3-.1 3.3.4 1.1 1.3 2 2.5 2.5l3.6 1.4c.5.2 1 .2 1.5.2 1.8 0 3.3-1 4-2.8l39.5-99.4c.6-1.1.6-2.4.2-3.5z"/>
      <path fill="#fff" d="M239.8 47.9c-.4 0-.8-.1-.8-.8V28.5c0-10-1.9-23.3-18-23.3h-2.2c-2.5 0-4.4 1.9-4.4 4.4v4.3c0 2.5 1.9 4.4 4.4 4.4h2.2c2.7 0 5.1 0 5.1 12.4v17.8c0 2.6.9 4.8 2.2 6.3-1.4 1.7-2.2 4.1-2.2 6.6v18.1c0 12.3-2.4 12.3-5.1 12.3h-14.6c-2.5 0-4.4 1.9-4.4 4.4v4.3c0 2.5 1.9 4.4 4.4 4.4h14.3c16.4 0 18.4-13.3 18.4-23.2V61.8c0-.6.1-.8.8-.8 2.6 0 4.4-1.8 4.4-4.4v-4.4c-.1-2.5-2-4.3-4.5-4.3z"/>
      <path fill="#f0f" d="M292.6 36v-3.3c0-4.2-3.8-4.9-6.3-3.3l-37.1 22.3c-1.1.7-1.7 2-1.6 3.4.1 1.4.8 2.6 1.9 3.1l36.9 20.2c1 .6 1.9.8 2.7.8 1.8 0 3.5-1.2 3.5-4v-3.6c0-1.6-.4-3.3-3-4.8l-23-12.3 23.1-13.8c1.8-1 2.9-2.8 2.9-4.7z"/>
    </svg>
    <main>
      <section>
        <h1>Syntactic Sugar AB</h1>
        <h2>Software Consulting</h2>
        <div class="spacer">/</div>
        <h3>Founder and Consultant<span class="visually-hidden">: </span><br>
        Alfonso Acosta</h3>
        <div class="spacer">/</div>
      </section>
      <section>
        <h4>Previous Experience:</h4>
        <ul class="no-list">
          <li><a href="https://spotify.com" rel="nofollow noopener" target="_blank" class="color--spotify">spotify.com</a></li>
          <li><a href="https://weave.works" rel="nofollow noopener" target="_blank" class="color--weaveworks">weave.works</a></li>
          <li><a href="https://teenageengineering.com" rel="nofollow noopener" target="_blank" class="color--teenageengineering">teenageengineering.com</a></li>
          <li><a href="http://certus.com.hk" rel="nofollow noopener" target="_blank" class="color--certus">certus.com.hk</a></li>
        </ul>
        <div class="spacer-group">
          <div class="spacer">-</div>
          <div class="spacer">.</div>
          <div class="spacer">-</div>
        </div>
      </section>
      <section>
        <div>don't be a stranger, write me a line:</div>
        <form action="">
        <br>
        </form>
      </section>
    </main>
</body>

</html>
