@font-face {
  font-family: 'OmType';
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url('fonts/default-normal.woff') format('woff');
}

*, *::before, *::after {
  box-sizing: border-box;
}

::-moz-selection {
  background-color: #09f;
  color: #fff;
}

::selection {
  background-color: #09f;
  color: #fff;
}

body,
html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
  /* Remove the gray background on active links in IE 10. */
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

i,
em {
  font-style: italic;
}

img {
  border: 0;
  padding: 0;
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  position: relative;
  line-height: 1.15;
  font-family: 'OmType', monospace;
  color: #fff;
}

body {
  background: #222;
  color: #000;
}

a:active {
  opacity: 0.7;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: 'OmType', monospace;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 3.5em;
  font-size: calc(2.25em + 1.75vw);
  margin-bottom: 0.25em;
}

h2 {
  margin-bottom: 1.75em;
  font-size: 2em;
  font-size: calc(1.25em + 0.65vw);
  font-style: normal;
}

h3 {
  font-size: 2.25em;
  font-size: calc(1.5em + 0.65vw);
}

h4 {
  font-size: 1.25em;
  font-size: calc(0.875em + 0.35vw);
  margin-top: 2.5em;
  margin-bottom: 1.5em;
  text-transform: uppercase;
}

@media only screen and (max-width: 40em) {
  h4 {
    margin-bottom: 1rem;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #222;
}

main {
  position: relative;
  z-index: 2;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
  min-height: 100vh;
  padding: 5em;
  padding-bottom: 2em;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.with-blinking-cursor::after {
  content: '';
  display: inline-block;
  vertical-align: bottom;
  width: 0.6em;
  width: 1ch;
  height: 0.09em;
  margin-left: 0.1em;
  background: white;
  animation: fade-in 1s ease alternate both infinite;
  border-radius: 1px;
}

.founder {
  float: left;
}

.avatar {
  float: right;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.clients {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.client {
  flex: 0 1 auto;
  margin-right: 1.5em;
  margin-bottom: 2rem;
}

.client svg {
  height: 2.75em;
  width: auto;
}

@media only screen and (max-width: 40em) {
  .client {
    margin-right: 1em;
    margin-bottom: 1.5rem;
  }

  .client svg {
    height: 2.75em;
  }
}






canvas {
  top: 0;
  left: 0;
  position: absolute;
}
